*{
  /* max-width: 1440px; */
  /* height: auto; */
  /* width: 100%; */
}
/* All font family */
.font-family {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


/* Header Option all Style */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

nav{
  display: flex;
  align-items: center;
  gap: 25px;
}

nav a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav span{
  cursor: pointer;
}

/* Main section all styles  */

.camera-section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.camera-section-text{
  padding-right:130px ;
  margin-top: 80px;
}

.camera-section-text h3{
  font-size:3rem ;
  margin: 0;
  padding-bottom: 16px;
}
.camera-section-text p{
  margin: 0;
  font-size: 16px;
  padding-bottom: 20px;
}

.camera-section img{
  display: block;
  max-width: 100%;
}

#camera-button{
  width: 170px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(224, 44, 109, 1);
  color:white;
  font-weight: bolder;
  border: 0;
  cursor: pointer;
}

.camera-section img{
  background-image: url(images/Circle\ design.svg);
}



  /* Sponsors related styles*/

.sponsors-info{
  max-width: 540px;
  margin:  50px auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-left: 130px;
  margin-right: 100px;
}

/* card related all styles */
  h2{
    margin-top: 100px;
    margin-bottom: 50px;
  }

.container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-left: 190px;
      margin-right: 190px;
    }
    a{
      text-decoration: none;
      align-items: center;
      cursor: pointer;
      margin-top: 30px;
    }
    .products{
      box-shadow: 6px 0px 10px rgb(139, 138, 138) ;
      padding: 10px;
    }
    .products img{
      width: 100%;
      border-radius: 10px;
      cursor: pointer;
    }

    .card-star{
      color:tomato;
    }

    .card-button{
      background-color:cornflowerblue;
      border: none;
      border-radius: 8px;
      color: white;
      font-weight: bold;
      height: 30px;
      width: 80px;
      cursor: pointer;
    }

/* This website all responsive styles are here */

@media screen and (max-width:576px){
  /* header side */
  header{
    flex-direction: column;
    text-align: center;
  }
  header nav{
    flex-direction: column;
    gap: 10px;
  }

  /* main section camera side */

  .camera-section {
    flex-direction: column-reverse;
    justify-content: center;   
    align-items: center;
    text-align: center;
  }

  .camera-section-text {
    padding-right: 0;
    margin-bottom: 24px;
    padding-top: 50px;
  }

  .camera-section h3{
    font-size:1.75rem;
  }

  .camera-section p br{
    display: none;
  }


  .camera-section img {
    width: 260px;
    display: block;
  }

  /* Sponsor related styles */

  .sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  /* card related styles */

  .container{
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    gap: 40px;
  }
  .products img{
      width: 100%;
      border-radius: 10px;
      cursor: pointer;}
}
